
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
hello worrld

<table style="border: 1px solid black;">
  <thead>
    <tr>
      <th>brandId</th>
      <th>brandName</th>
      <th>income</th>
      <th> rawMaterialCost</th>
      <th> personalCost</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let brand of brandList">
      <td>{{brand.brandId}}</td>
      <td>{{brand.brandName}}</td>
      <td>{{brand.income}}</td>
      <td>{{brand.rawMaterialCost}}</td>
      <td>{{brand.personalCost}}</td>
    </tr>
  </tbody>
</table>
<router-outlet></router-outlet>
